/* Footer */
#site-footer{
    background: var(--header-bg);
    color: var(--text-color);
    font-size: 10px;
    font-family: var(--font-family-monospace);
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top:0px;
    margin-bottom:0px;
}